.barreBasPage {
  display: flex;
  justify-content: space-between;

  .div1 {
    height: 20px;
    width: 20vw;
    background-color: var(--jaune);
  }

  .div2 {
    height: 20px;
    width: 70vw;
    background-color: var(--jaune);
  }
}
