footer {
  background-color: black;
  color: white;
  display: flex;
  align-content: first baseline;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 10vh;
  flex-wrap: wrap;
  position: relative;
  overflow-y: hidden;


  @media screen and (max-width: 900px) {
    padding: 0;
  }

  a {
    user-select: none;
  }

  .footerGauche {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
    z-index: 10;
  }

  .footerBas {
    position: absolute;
    font-size: 15vw;
    bottom: -5rem;
  }

  p {
    font-size: clamp(0.8rem, 0.2rem + 1.6vw, 1rem);
    padding: 0.1rem;
  }

  .footerDroite {
    .reseaux {
      .inconsReseaux {
        display: flex;
      }
    }
  }
}