////////////////////// la boite blanche /////////////
.graphisme {

    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .boite {
       
      border-radius: 20px;
      width: 60px; /* Largeur initiale */
      height: 60px; /* Hauteur initiale */
      background: #f0f0f0;
      box-shadow: 
        0px 0px 0px rgba(204, 204, 204, 0.3),
        0px 0px 0px rgba(255, 255, 255, 0.3),
        4px 4px 8px rgba(204, 204, 204, 0.4) inset,
        -4px -4px 8px rgba(255, 255, 255, 0.5) inset;
      transition: none; /* Pas de transition au début */

        font-family: 'lato';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      
      .titreBoite{
        display: flex;
        opacity: 0;

      }
      
      .infoGraph {
        display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 1s ease, visibility 0s 1s; /* Gradual fade-in with delay */


          /* The donut chart */
          .donut-chart {
            
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: conic-gradient(
              var(--web) 0deg 108deg,  /* 30% - Programmation Web */
              var(--jeu) 108deg 216deg, /* 30% - Création de Jeu */
              var(--design) 216deg 306deg,  /* 15% - Design */
              var(--autres-medias)306deg 342deg,  /* 10% - Autres Médias */
              var(--modelisation-3D)342deg 360deg   /* 5% - Modélisation 3D */
            );
            position: relative;
            animation: chartAnimation 4s ease-in-out forwards;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                  .label {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                    font-weight: bold;
                    color: #333;
                }
            }
          /* The inner circle to create the "hole" in the donut */
          .donut-chart::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            background-color: white;
            border-radius: 50%;
            transform: translate(-50%, -50%);
          }

          /* Animation for the donut chart */
          @keyframes chartAnimation {
            0% {
                background: conic-gradient(
                    #ffffff 0deg 0deg,
                    #ffffff 0deg 0deg,
                    #ffffff 0deg 0deg,
                    #ffffff 0deg 0deg
                );
            }
            100% {
                background: conic-gradient(
                    var(--web) 0deg 108deg,  /* 30% - Programmation Web */
                    var(--jeu) 108deg 216deg, /* 30% - Création de Jeu */
                    var(--design) 216deg 306deg,  /* 15% - Design */
                    var(--autres-medias)306deg 342deg,  /* 10% - Autres Médias */
                    var(--modelisation-3D)342deg 360deg   /* 5% - Modélisation 3D */
                );
            }
          }

          
        
      }

      .titreBoiteOuverte,
      .openedInfoGraph {
        
          opacity: 1;
          visibility: visible;
          transition: opacity 0.1s ease, visibility 0s 0s; /* Immediate visibility after fade-in */
          ul{
            padding: 0px;
            padding-top: 0.1rem;
            li{
              
              font-family: 'lato';
              
              list-style: none;
              padding-top: 0.5rem;
            }
            li:nth-child(1) {
                color: var(--web);
            }
            li:nth-child(2) {
                color: var(--jeu);
            }
            li:nth-child(3) {
                color: var(--design);
            }
            li:nth-child(4) {
                color: var(--autres-medias);
            }
            li:nth-child(5) {
                color: var(--modelisation-3D);
            }
          }
          
        
      }
    }
  
    .boite.inactive {
      animation: none; /* Pas d'animation si inactive */
    }
  
    /////////////// Animation pour la boîte ///////////////
    @keyframes opening {
      0% {
        border-radius: 20px;
        width: 60px; /* Largeur initiale */
        height: 60px; /* Hauteur initiale */
        background: #f0f0f0;
        box-shadow: 
          0px 0px 0px rgba(204, 204, 204, 0.3),
          0px 0px 0px rgba(255, 255, 255, 0.3),
          4px 4px 8px rgba(204, 204, 204, 0.4) inset,
          -4px -4px 8px rgba(255, 255, 255, 0.5) inset;
      }
      25% {
        border-radius: 15px;
        width: 60px; /* aucune augmentation */
        height: 400px; /* Augmentation importante de la hauteur */
        background: #f8f8f8;
        box-shadow: 
          4px 4px 8px rgba(204, 204, 204, 0.4),
          4px 4px 8px rgba(255, 255, 255, 0.4),
          0px 0px 0px rgba(204, 204, 204, 0.2) inset,
          -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
      }
      50% {
        border-radius: 2px;
        width: 300px; /* Largeur intermédiaire */
        height: 400px; /* Hauteur intermédiaire */
        background: #f8f8f8;
        box-shadow: 
          4px 4px 8px rgba(204, 204, 204, 0.4),
          4px 4px 8px rgba(255, 255, 255, 0.4),
          0px 0px 0px rgba(204, 204, 204, 0.2) inset,
          -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
      }
      100% {
        border-radius: 0px;
        width: 300px; /* Largeur finale */
        height: 400px; /* Hauteur légèrement plus grande */
        background: #fafafa;
        box-shadow: 
          12px 12px 16px rgba(204, 204, 204, 0.3),
          -8px -8px 16px rgba(255, 255, 255, 0.4),
          1px 1px 3px rgba(204, 204, 204, 0.1) inset,
          -1px -1px 3px rgba(255, 255, 255, 0.2) inset;
      }
    }
    
    /////////// TABLETTE ////////////
    @media screen and (min-width: 767px) {
      padding-top: 5rem;
      .boite{
        .infoGraph {
          flex-direction: row;
          padding-top: 0px;
          gap: 8rem;
        }
        .titreBoiteOuverte,
        .openedInfoGraph {
          ul{
            padding-top: 0.1rem;
            li{
            font-size: 1.5rem;
            padding-top: 1rem;
                
         }
        }
        }
      }
      @keyframes opening {
        0% {
          border-radius: 20px;
          width: 60px; /* Largeur initiale */
          height: 60px; /* Hauteur initiale */
          background: #f0f0f0;
          box-shadow: 
            0px 0px 0px rgba(204, 204, 204, 0.3),
            0px 0px 0px rgba(255, 255, 255, 0.3),
            4px 4px 8px rgba(204, 204, 204, 0.4) inset,
            -4px -4px 8px rgba(255, 255, 255, 0.5) inset;
        }
        25% {
          border-radius: 15px;
          width: 60px; /* aucune augmentation */
          height: 450px; /* Augmentation importante de la hauteur */
          background: #ffffffe4;
          box-shadow: 
            4px 4px 8px rgba(204, 204, 204, 0.4),
            4px 4px 8px rgba(255, 255, 255, 0.4),
            0px 0px 0px rgba(204, 204, 204, 0.2) inset,
            -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
        }
        50% {
          border-radius: 5px;
          width: 700px; /* Largeur intermédiaire */
          height: 450px; /* Hauteur intermédiaire */
          background:#f8f8f8b6;
          box-shadow:4px 4px 8px rgba(204, 204, 204, 0.4),
          4px 4px 8px rgba(255, 255, 255, 0.4),
          0px 0px 0px rgba(204, 204, 204, 0.2) inset,
          -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
        }
        100% {
          border-radius: 0px;
          width: 700px; /* Largeur finale */
          height: 450px; /* Hauteur légèrement plus grande */
          background:  #f8f8f8d0;
          box-shadow:  12px 12px 16px rgba(204, 204, 204, 0.3),
          -8px -8px 16px rgba(255, 255, 255, 0.4),
          1px 1px 3px rgba(204, 204, 204, 0.1) inset,
          -1px -1px 3px rgba(255, 255, 255, 0.2) inset;
      }
    }
  } 

  //////////// desktop ///////////
  @media screen and (min-width: 991px) {
    .boite{
      width: 100vw;
      background-color: rgba(9, 43, 81, 0.897);
      .titreBoiteOuverte{
        color: #f0f0f0;
        padding-bottom: 2rem;
        font-size: 2rem;
      }

      .infoGraph{
        padding-bottom: 5rem;
        .donut-chart{
          background: conic-gradient(var(--webDesk) 0deg 108deg,
                                    var(--jeuDesk) 108deg 216deg, 
                                    var(--designDesk) 216deg 306deg, 
                                    var(--autres-medias-Desk) 306deg 342deg, 
                                    var(--modelisation-3D-Desk) 342deg 360deg);
        }
        @keyframes chartAnimation {
          0% {
              background: conic-gradient(
                  #ffffff 0deg 0deg,
                  #ffffff 0deg 0deg,
                  #ffffff 0deg 0deg,
                  #ffffff 0deg 0deg
              );
          }
          100% {
              background:conic-gradient(var(--webDesk) 0deg 108deg,
              var(--jeuDesk) 108deg 216deg, 
              var(--designDesk) 216deg 306deg, 
              var(--autres-medias-Desk) 306deg 342deg, 
              var(--modelisation-3D-Desk) 342deg 360deg);
          }
        }
      }

      .titreBoiteOuverte,
      .openedInfoGraph {
        ul{
        li:nth-child(1) {
            color: var(--webDesk);
        }
        li:nth-child(2) {
            color: var(--jeuDesk);
        }
        li:nth-child(3) {
            color: var(--designDesk);
        }
        li:nth-child(4) {
            color: var(--autres-medias-Desk);
        }
        li:nth-child(5) {
            color: var(--modelisation-3D-Desk);
        }}
      }
    }
    @keyframes opening {
      0% {
        border-radius: 15px;
        width: 60px; /* Largeur initiale */
        height: 60px; /* Hauteur initiale */
        background:  rgba(9, 43, 81, 0.842);
        box-shadow: none;
      }
      25% {
        border-radius: 10px;
        width: 60px; /* aucune augmentation */
        height: 400px; /* Augmentation importante de la hauteur */
        background:  rgba(20, 61, 108, 0.897);
        box-shadow: none;
      }
      50% {
        border-radius: 2px;
        width: 100vw; /* Largeur intermédiaire */
        height: 500px; /* Hauteur intermédiaire */
        background:  rgba(31, 84, 145, 0.897);
        box-shadow: none;
      }
      100% {
        border-radius: 0px;
        width: 100vw;/* Largeur finale */
        height: 500px; /* Hauteur légèrement plus grande */
        background: var(--bleu-graph);
        box-shadow: 0px 0px 15px 3px #FFF;
      }
    }
  }
  
}