header {
  background-color: rgba(0, 0, 0, 0.548);
  color: #fcbe32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 11;
  border-bottom: 0.5px solid #393939;

  .custom-logo {
    width: 80px;
    height: 80px;
    transition: 0.5s  linear;
  }

  .custom-logo:hover{
    width: 90px;
    height: 90px;
    
  }

  .menuCache {
    position: fixed;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0vh;
    right: 0vw;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform 0.5s, padding-bottom 2s;
    z-index: 10;

    // .exitMenu {
    //   width: 50px;
    //   height: 50px;
    //   padding: 20px;

    //   .exit1 {
    //     width: 40px;
    //     height: 5px;
    //     background-color: #fcbe32;
    //     border-radius: 2px 2px 2px 2px;
    //     transform: rotate(45deg);
    //   }

    //   .exit2 {
    //     width: 40px;
    //     height: 5px;
    //     background-color: #fcbe32;
    //     border-radius: 2px 2px 2px 2px;
    //     transform: rotate(-45deg) translateY(-5px) translateX(2.5px);
    //   }
    // }

    .optionMenu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 600px;

      .menu-menuprincipal-container {
        text-align: center;
        ul {
          list-style: none;
          margin: none;
          a {
            text-decoration: none;
            color: white;
            font-size: larger;
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      position: absolute;
      width: auto;
      height: auto;
      transform: translateX(0%);
      background-color: rgba(0, 0, 0, 0);

      // .exitMenu {
      //   display: none;
      // }

      .optionMenu {
        flex-direction: row;
        justify-content: flex-end;
        gap: 5vw;
        height: auto;
        padding-right: 2vw;
        right: 10vw;
      }
      .menu {
        display: flex;
        width: clamp(700px, 60vw, 800px);
        font-size: clamp(16px, 1.06vw, 21px);
        padding: 25px 10px;
        justify-content: space-between;
      }
    }
  }

  input {
    display: none;
  }

  .menuBurger {
    width: 50px;
    height: 50px;
    background-color: #fcbe32;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    z-index: 11;

    .burger1 {
      width: 35px;
      height: 5px;
      background-color: black;
      border-radius: 2px 2px 2px 2px;
    }

    .burger2 {
      display: flex;
      justify-content: space-between;

      .div1 {
        width: 10px;
        transition: width 0.5s;
      }

      .div2 {
        width: 25px;
        height: 5px;
        background-color: black;
        border-radius: 2px 2px 2px 2px;
        transition: width 0.5s;
      }
    }

    .burger3 {
      width: 35px;
      height: 5px;
      background-color: black;
      border-radius: 2px 2px 2px 2px;
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  #chkBurger:checked ~ .menuCache {
    transform: translateX(0px);
    padding-bottom: 1000px;
  }

  #chkBurger:checked ~ .menuBurger {
    .burger2 {
      .div1 {
        width: 0px;
      }

      .div2 {
        width: 35px;
      }
    }
  }
}

.pasDeScroll {
  overflow-y: hidden;
}
