main{
  overflow: hidden;
  ///////////////////////// HAUT DE PAGE DE L'ACCEUIL/////////////////////
  .hautDePage{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .txtMain{
    width: 75%;
    background-color: rgba(255, 255, 255, 0.564);
    backdrop-filter: blur(5px);
    margin-top: 25rem;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    color: var(--texteBlanc);


    h1{
      text-shadow: rgb(7, 34, 101) -4px -3px;;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    h2{
      font-family: "lato";
      font-size: 1.2rem;
      margin: 0px;
      font-weight: 300;
      
    }
    p{
      margin-top: 1rem;
      font-family: "lato";
      margin-bottom: 1rem;
    }
     
      a{
        
        margin: auto;
        color: var(--texteBlanc);
        text-decoration: none;
        font-size: 2rem;
        font-family: 'lato';
        font-weight: 300;
        width: 100%;
        height: 3rem;
        background-color: rgba(19, 69, 130, 0.781);
        border: 0.5px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

    }
    img{

      display: none;
    }
    ////////// TABLETTE /////////////
     @media screen and (min-width: 767px) {
      
      .txtMain{
      width: 88%;
      margin-top: 40rem;
      margin-bottom: 1rem;
        h1{
          font-size: 4rem;
        }
        h2{
          font-size: 2rem;
        }
        p{
          font-size: 1.5rem;
        }
      
      }
    }
  }

  ///////////////////////// DESCRIPTION DU TIM //////////////////
  .description{
    margin-bottom: 3rem;
    color:var(--texteBlanc);
    

    .titre_APropos{
      background-color: rgb(141, 125, 125);
      width: 50%;
      height: 2rem;
      padding-left: 1rem;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      h2{
        
        font-family: 'lato';

      }
     
    }
    .descriptionTim{
      background-color:#E8E8E8;
      backdrop-filter: blur(2px);
      width: 22rem;
      min-height: 15rem;
      padding: 0.6rem;

      margin-bottom: 2rem;
      
      p{
        font-family: 'lato';
        color: #7c7575;
      }
    }
     /////// TABLETTE ///////
     @media screen and (min-width: 767px) {
      
        .titre_APropos{
          height: 3rem;
          h2{
            font-size: 2rem;
          }
        }
        .descriptionTim{
          width: 80%;
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          padding-right: 4rem;
          p{
            font-size: 1.2rem;
          }
        }
      }
    
    
  }

  ///////////////////////// LES LANGUAGE DE PROGRAMMATION ////////////
  .infoLangProg{
    width: 100%;
    
    .titreLangProg{
      background-color:rgb(141 125 125);
      clip-path: inherit; 
      width: 70%;
      clip-path: polygon(0 1%, 90% 0, 100% 100%, 0% 100%);
      display: flex;
      align-items: center;
      h2{
        padding-left: 1rem;
      }
    }

    .LangProg{
      background-color:#EFEFEF;
      min-height: 25vh;
      position: relative;
     
      transition: right 1s ease-in-out; /* Animation fluide */
      p{
        color:#a39f9f;
        font-family: 'lato';
        text-align: center;
        padding: 0.5rem;
      }
    }
    @media screen and (min-width: 767px) {
      
      width: 80%;
      .titreLangProg{
        width: 100%;
        min-height: 3rem;
        h2{
          font-size: 2rem;
        } 
      }

      .LangProg{
        p{
          text-align: left;
          font-size: 1.5rem;
        }
      }
    }
  }

  //////////////////////// LES LOGICIEL UTILISER ///////////
  .infoLogiciel {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    .titreInfoLogiciel {
      background-color: rgb(141, 125, 125);
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
      align-items: center;
   
    }
  
    .infoLog {
      min-height: 25vh;
      background-color: #efefef;
      position: relative;
      transition: left 1s ease-in-out; // Animation fluide pour "left"
      p{
        text-align: center;
        font-family: 'lato';
        color:#a39f9f;
        padding: 0.5rem;
      }
    }
    @media screen and (min-width: 767px) {
      
      .titreInfoLogiciel{
        width: 80%;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        height: 3rem;
        font-size: 1.3rem;
      }
      .infoLog {
        width: 82%;
        p{
          text-align: right;
          font-size: 1.5rem;
      
        }
      }
    }
  }
  
  ///// FONT /////
  .infoLangProg, .infoLogiciel{
    h2{
      color: var(--texteBlanc);
      font-family: 'lato';

    }
  }
 

  ////////////////////// la boite blanche /////////////
  .graphisme {
    width: 80%;
    height: 23rem;
    margin: auto;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .boite {
      border-radius: 20px;
      width: 60px; /* Largeur initiale */
      height: 60px; /* Hauteur initiale */
      background: #f0f0f0;
      box-shadow: 
        0px 0px 0px rgba(204, 204, 204, 0.3),
        0px 0px 0px rgba(255, 255, 255, 0.3),
        4px 4px 8px rgba(204, 204, 204, 0.4) inset,
        -4px -4px 8px rgba(255, 255, 255, 0.5) inset;
      transition: none; /* Pas de transition au début */
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: 'lato';
      color: black;
  
      
      .imgGraph,
      .infoGraph {
          opacity: 0;
          visibility: hidden;
          transition: opacity 1s ease, visibility 0s 1s; /* Gradual fade-in with delay */
      }

      .openedImgGraph,
      .openedInfoGraph {
        padding: 2rem;
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease, visibility 0s 0s; /* Immediate visibility after fade-in */
          ul{
            padding: 0px;
            li{
              list-style: none;
            }
          }
      }
    }
  
    .boite.inactive {
      animation: none; /* Pas d'animation si inactive */
    }
  
    /////////////// Animation pour la boîte ///////////////
    @keyframes opening {
      0% {
        border-radius: 20px;
        width: 60px; /* Largeur initiale */
        height: 60px; /* Hauteur initiale */
        background: #f0f0f0;
        box-shadow: 
          0px 0px 0px rgba(204, 204, 204, 0.3),
          0px 0px 0px rgba(255, 255, 255, 0.3),
          4px 4px 8px rgba(204, 204, 204, 0.4) inset,
          -4px -4px 8px rgba(255, 255, 255, 0.5) inset;
      }
      25% {
        border-radius: 15px;
        width: 60px; /* aucune augmentation */
        height: 400px; /* Augmentation importante de la hauteur */
        background: #f8f8f8;
        box-shadow: 
          4px 4px 8px rgba(204, 204, 204, 0.4),
          4px 4px 8px rgba(255, 255, 255, 0.4),
          0px 0px 0px rgba(204, 204, 204, 0.2) inset,
          -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
      }
      50% {
        border-radius: 2px;
        width: 300px; /* Largeur intermédiaire */
        height: 400px; /* Hauteur intermédiaire */
        background: #f8f8f8;
        box-shadow: 
          4px 4px 8px rgba(204, 204, 204, 0.4),
          4px 4px 8px rgba(255, 255, 255, 0.4),
          0px 0px 0px rgba(204, 204, 204, 0.2) inset,
          -0px -0px 0px rgba(255, 255, 255, 0.2) inset;
      }
      100% {
        border-radius: 0px;
        width: 300px; /* Largeur finale */
        height: 400px; /* Hauteur légèrement plus grande */
        background: #fafafa;
        box-shadow: 
          12px 12px 16px rgba(204, 204, 204, 0.3),
          -8px -8px 16px rgba(255, 255, 255, 0.4),
          1px 1px 3px rgba(204, 204, 204, 0.1) inset,
          -1px -1px 3px rgba(255, 255, 255, 0.2) inset;
      }
    }
  
  }


    /////////////bouton//////////
    .boutton-inscription{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-bottom: 2rem;
    .cybr-btn {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
      --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
      --primary-hue: 0;
      --primary-lightness: 50;
      --color: hsl(0, 0%, 100%);
      --font-size: 1.5rem;
      --shadow-primary-hue: 180;
      --label-size: 9px;

      --shadow-secondary:hsl(359.66deg 100% 50%);
      --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
      --border: 4px;
      --shimmy-distance: 5;
      --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
      --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
      --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
      --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
      --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
      --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
      --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
      font-family: 'Blender Pro Bold', sans-serif;
      color: var(--color);
      cursor: pointer;
      background: transparent;
      text-transform: uppercase;
      font-size: var(--font-size);
      outline: transparent;
      letter-spacing: 2px;
      position: relative;
      font-weight: 700;
      border: 0;
      min-width: 300px;
      height: 55px;
      line-height: 75px;
      transition: background 0.2s;
    }
    .cybr-btn:hover {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
    }
    .cybr-btn:active {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
    }
    
    .cybr-btn:after,
    .cybr-btn:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: -3px;
      clip-path: var(--clip);
      z-index: -1;
    }
    
    .cybr-btn:before {
      background: var(--shadow-primary);
      transform: translate(var(--border), 0);
    }
    
    .cybr-btn:after {
      background: var(--primary);
    }
    
    .cybr-btn__tag {
      position: absolute;
      padding: 1px 4px;
      letter-spacing: 1px;
      line-height: 1;
      bottom: -15%;
      right: 5%;
      font-weight: normal;
      color: hsl(0, 0%, 100%);
      font-size: var(--label-size);
    }
    
    .cybr-btn__glitch {
      position: absolute;
      top: calc(var(--border) * -1);
      left: calc(var(--border) * -1);
      right: calc(var(--border) * -1);
      bottom: calc(var(--border) * -1);
      background: var(--shadow-primary);
      text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
      clip-path: var(--clip);
      animation: glitch 2s infinite;
      display: none;
    }
    
    .cybr-btn:hover .cybr-btn__glitch {
      display: block;
    }
    
    .cybr-btn__glitch:before {
      content: '';
      position: absolute;
      top: calc(var(--border) * 1);
      right: calc(var(--border) * 1);
      bottom: calc(var(--border) * 1);
      left: calc(var(--border) * 1);
      clip-path: var(--clip);
      background: var(--primary);
      z-index: -1;
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--clip-one);
      }
      2%, 8% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
      }
      6% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      9% {
        clip-path: var(--clip-two);
        transform: translate(0, 0);
      }
      10% {
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      13% {
        clip-path: var(--clip-three);
        transform: translate(0, 0);
      }
      14%, 21% {
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      25% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      30% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
      }
      35%, 45% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%));
      }
      40% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%));
      }
      50% {
        clip-path: var(--clip-six);
        transform: translate(0, 0);
      }
      55% {
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      60% {
        clip-path: var(--clip-seven);
        transform: translate(0, 0);
      }
      31%, 61%, 100% {
        clip-path: var(--clip-four);
      }
    }
  }
}