main{
  overflow: hidden;
  ///////////////////////// HAUT DE PAGE DE L'ACCEUIL/////////////////////
  .hautDePage{
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;

    .txtMain{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.564);
    backdrop-filter: blur(5px);
    margin-top: 25rem;
    padding: 2rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    color: var(--texteBlanc);


    h1{
      text-shadow: rgb(7, 34, 101) -4px -3px;;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    h2{
      font-family: "lato";
      font-size: 1.2rem;
      margin: 0px;
      font-weight: 300;
      
    }
    p{
      margin-top: 1rem;
      font-family: "lato";
      margin-bottom: 1rem;
    }
     
      a{
        
        margin: auto;
        color: var(--texteBlanc);
        text-decoration: none;
        font-size: 2rem;
        font-family: 'lato';
        font-weight: 300;
        width: 100%;
        height: 3rem;
        background-color:var(--boutonn-Accueil);
        border: 0.5px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

    }
    img{

      display: none;
    }
    ////////// TABLETTE /////////////
     @media screen and (min-width: 767px) {
      
      .txtMain{
      width: 88%;
      
      margin-bottom: 1rem;
        h1{
          font-size: 4rem;
        }
        h2{
          font-size: 2rem;
        }
        p{
          font-size: 1.5rem;
        }
      
      }
    }

    //// DESKTOP ////
    @media  screen and (min-width: 991px) {
      align-items: flex-start;
      height: 95vh;
      .txtMain{
        width: 30rem;
          
          a, a::after {
            background: linear-gradient(-45deg, transparent 5%, var(--boutonn-Accueil) 5%);
            border: 0;
            color: #fff;
            letter-spacing: 3px;
            line-height: 88px;
            box-shadow: -6px 0px 0px #00E6F6;
            outline: transparent;
            position: relative;
          }

          a::after {
            --slice-0: inset(50% 50% 50% 50%);
            --slice-1: inset(80% 6px 0 0);
            --slice-2: inset(50% 6px 30% 0);
            --slice-3: inset(10% 6px 85% 0);
            --slice-4: inset(40% 6px 43% 0);
            --slice-5: inset(80% 6px 5% 0);
            text-align: center;
            content: 'cours';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(-45deg, transparent -3%, #00E6F6 -3%, #00E6F6 -5%, #102e4e -5%);
            text-shadow: -3px -3px 0px #ba0909, 3px 3px 0px #00E6F6;
            clip-path: var(--slice-0);
          }

          a:hover::after {
            animation: 1s glitchPrincipal;
            animation-timing-function: steps(2, end);
          }

          @keyframes glitchPrincipal {
            0% {
              clip-path: var(--slice-1);
              transform: translate(-20px, -10px);
            }
            10% {
              clip-path: var(--slice-3);
              transform: translate(10px, 10px);
            }
            20% {
              clip-path: var(--slice-1);
              transform: translate(-10px, 10px);
            }
            30% {
              clip-path: var(--slice-3);
              transform: translate(0px, 5px);
            }
            40% {
              clip-path: var(--slice-2);
              transform: translate(-5px, 0px);
            }
            50% {
              clip-path: var(--slice-3);
              transform: translate(5px, 0px);
            }
            60% {
              clip-path: var(--slice-4);
              transform: translate(5px, 10px);
            }
            70% {
              clip-path: var(--slice-2);
              transform: translate(-10px, 10px);
            }
            80% {
              clip-path: var(--slice-5);
              transform: translate(20px, -10px);
            }
            90% {
              clip-path: var(--slice-1);
              transform: translate(-10px, 0px);
            }
            100% {
              clip-path: var(--slice-1);
              transform: translate(0);
            }
          }
      }
    }
  }

  ///////////////////////// DESCRIPTION DU TIM //////////////////
  .description{
    margin-bottom: 3rem;
    color:var(--texteBlanc);
    

    .titre_APropos{
      background-color:var(--jaune);
      width: 50%;
      height: 2rem;
      padding-left: 1rem;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      h2{
        
        font-family: 'lato';

      }
     
    }
    .descriptionTim{
      background-color:var(--gris-accueil);
      backdrop-filter: blur(2px);
      width: 95%;
      min-height: 15rem;
      padding: 0.6rem;

      margin-bottom: 2rem;
      
      p{
        font-family: 'lato';
        color: #7c7575;
      }
    }
     /////// TABLETTE ///////
     @media screen and (min-width: 767px) {
      

        .titre_APropos{
          height: 3rem;
          h2{
            font-size: 2rem;
          }
        }
        .descriptionTim{
          width: 80%;
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          padding-right: 4rem;
          p{
            font-size: 1.2rem;
          }
        }
      }
    //// DESKTOP ////
    @media  screen and (min-width: 991px) {
      .titre_APropos{
        padding-left: 3rem;
        background-color: var(--jaune);
        h2{
          color: var(--texteBlanc);
        }
      }
      .descriptionTim{
        background-color: transparent;
        padding-left: 3rem;
        clip-path: none;
        p{
          color: var(--texteGris);
          word-spacing: 0.3rem;
        }
      }
    }
    
  }

  ///////////////////////// LES LANGUAGE DE PROGRAMMATION ////////////
  .infoLangProg{
    width: 100%;
    
    .titreLangProg{
      background-color:var(--gris-titre);
      clip-path: inherit; 
      width: 70%;
      clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
      display: flex;
      align-items: center;
      h2{
        padding-left: 1rem;
      }
    }

    .LangProg{
      background-color:var(--gris-accueil);
      min-height: 25vh;
      position: relative;
     
      transition: right 1s ease-in-out; /* Animation fluide */
      p{
        color:#a39f9f;
        font-family: 'lato';
        text-align: center;
        padding: 0.5rem;
      }
    }
    @media screen and (min-width: 767px) {
      padding-top: 6rem;
      width: 80%;
      .titreLangProg{
        width: 80%;
        min-height: 3rem;
       
        h2{
          font-size: 2rem;
        } 
      }

      .LangProg{
        p{
          text-align: left;
          font-size: 1.5rem;
        }
      }
    }
   
  }

  //////////////////////// LES LOGICIEL UTILISER ///////////
  .infoLogiciel {
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    .titreInfoLogiciel {
      background-color: var(--gris-titre);
      width: 80%;
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
      align-items: center;
   
    }
  
    .infoLog {
      width: 100vw;
      min-height: 25vh;
      background-color: var(--gris-accueil);
      position: relative;
      transition: left 1s ease-in-out; // Animation fluide pour "left"
      p{
        text-align: center;
        font-family: 'lato';
        color:#a39f9f;
        padding: 0.5rem;
      }
    }
    @media screen and (min-width: 767px) {
      
      .titreInfoLogiciel{
        width: 70%;
      
        height: 3rem;
        font-size: 1.3rem;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);

      }
      .infoLog {
        width: 89%;
       
        p{
         
          text-align: right;
          font-size: 1.5rem;
      
        }
      }
    }


  }
  
  ///// FONT /////
  .infoLangProg, .infoLogiciel{
    h2{
      color: var(--texteBlanc);
      font-family: 'lato';

    }
  }
 

  
}