body {

    /* ************************* Version Mobile ******************************* */
    .MaxProjetMain {

        /* ******************** Section Arcade *********************** */
        .SectionArcade {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            /* ****************** Arcade *********************** */
            .ListeArcade {
                //Répartition des cases en version Mobile
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                gap: 40px;

                width: 80vw;
                padding: 5vh 0px;
                margin: 0px auto;

                .jeu {
                    margin: 0px auto;
                    width: clamp(350px, 100%, 900px);
                    height: clamp(230px, 14vw, 700px);
                    background-color: white;
                }
            }

        }

        /* ***************** Section Projet ************************** */
        .SectionProjet {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            /* *************** Titre section ******************** */
            .Rangee1 {
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                /**************************FILTRE*************************/
                .TitreSectionProjet {
                    width: 50vw;
                    display: flex;
                    flex-direction: row-reverse;

                    .Partie1 {

                        /* control the shape (can be percentage) */
                        height: 30px;
                        position: relative;
                        min-width: 10rem;
                        margin-right: 1rem;

                        background-color: var(--jaune);
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        justify-content: center;


                        user-select: none;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -30px;
                            width: 2rem;
                            height: 100%;
                            background-color: var(--jaune);

                            clip-path: polygon(95% 0, 30% 100%, 0% 100%, 0 0);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -32px;
                            width: 2rem;
                            height: 100%;
                            background-color: var(--jaune);

                            clip-path: polygon(100% 0, 30% 100%, 100% 100%, 100% 100%);
                        }


                        .boutonMenuProjet {
                            font-size: 1rem;
                            border-color: 1px solid var(--bleu);
                            padding: 2px 5px;
                            border-radius: 5px;
                            box-shadow: -2px -1px 30px 3px white;
                        }

                        .boutonMenuProjet:hover {
                            cursor: pointer;
                        }

                    }
                }
            }

            .menuDeroulant {
                transition: 1s;
                height: 0px;
                padding: 0 5rem;
                /* margin-left: auto; */
                position: absolute;
                /* right: 1.5rem; */
                top: 2.5rem;
                z-index: 5;
                overflow-y: hidden;
                background-color: rgba(255, 255, 255, 0.674);
                backdrop-filter: blur(5px);
                border-radius: 4px;
                display: flex;
                flex-direction: column;

                .boutonFiltreProjet {
                    margin-left: 10px;

                    height: 20px;
                    padding: 1rem 0;
                    border-radius: 25%;
                    user-select: none;
                    text-align: center;
                }

                .boutonFiltreProjet:hover {
                    cursor: pointer;
                }
            }

            /*******************GALERIE*****************/
            .Rangee2 {
                max-width: 80vw;
                margin: 2rem auto;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                z-index: 2;


                .galerieProjets {
                    background-color: #bfd3ef;
                    height: 40vh;
                    flex-grow: 1;
                    position: relative;

                    .textesProjet {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    //placer le texte sur les images
                    p {
                        height: 100%;
                        z-index: 2;
                        margin: 0;
                        padding: 1rem;

                    }

                    .infoProjet {
                        overflow: hidden;

                        display: flex;
                        flex-direction: column;

                        background-color: #ffffff71;
                        backdrop-filter: blur(5px);
                    }

                    img {

                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }
    }

    /* ************************* Version Tablette ******************************* */
    @media screen and (min-width: 430px) {

        .MaxProjetMain {
            /* ***************** Section Projet ************************** */

            .SectionProjet {

                /* *************** Titre section ******************** */
                .Rangee1 {

                    .FiltreSectionProjet {
                        width: 35vw;

                        .Partie1 {
                            justify-content: flex-start;

                            h2 {
                                margin-left: 2.5vw;
                            }
                        }
                    }

                    .TitreSectionProjet {
                        .Partie1 {
                            margin-right: 5rem;
                        }
                    }
                }
            }
        }
    }

    /* ************************* Version Desktop ******************************* */
    @media screen and (min-width: 1024px) {

        .MaxProjetMain {

            /* ***************** Section Projet ************************** */

        }
    }
}