body {

    /* ************************* Version Mobile ******************************* */
    .MaxProjetMain {

        /* ******************** Section Arcade *********************** */
        .SectionArcade {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            /* ****************** Arcade *********************** */
            .ListeArcade {
                //Répartition des cases en version Mobile
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                gap: 40px;

                width: 80vw;
                padding: 5vh 0px;
                margin: 0px auto;

                .jeu {
                    margin: 0px auto;
                    width: clamp(350px, 100%, 900px);
                    height: clamp(230px, 14vw, 700px);
                    background-color: white;
                }
            }

        }

        /* ***************** Section Projet ************************** */
        .SectionProjet {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            /* *************** Titre section ******************** */
            .Rangee1 {
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                /**************************FILTRE*************************/
                .TitreSectionProjet {
                    width: 50vw;
                    display: flex;
                    flex-direction: row-reverse;

                    .Partie1 {

                        /* control the shape (can be percentage) */
                        height: 30px;
                        min-width: 10rem;
                        margin-right: 1rem;
                        clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
                        background-color: var(--jaune);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .boutonFiltreProjet {
                            margin-left: 10px;
                            width: 20px;
                            height: 20px;
                            border-radius: 25%;
                            background-color: #fada90;
                            text-align: center;
                        }

                        .boutonFiltreProjet:hover {
                            cursor: pointer;
                        }

                    }

                }
            }

            .menuDeroulant {
                transition: 1s;
                height: 0px;
                padding: 0 5rem;
                margin-left: auto;
                background-color: #bfd3ef;
                overflow-y: hidden;


                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-right: 1rem;
            }

            /*******************GALERIE*****************/
            .Rangee2 {
                max-width: 80vw;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;


                #galerieProjets {
                    background-color: #bfd3ef;
                    height: 40vh;
                    flex-grow: 1;

                    //placer le texte sur les images
                    p {
                        position: absolute;
                        z-index: 2;
                        margin: 0;
                        padding: 1rem;
                        background-color: #ffffff71;
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        border: 0.5px solid #FFF;

                    }

                    .infoProjet {
                        display: none;
                    }

                    img {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    /* ************************* Version Tablette ******************************* */
    @media screen and (min-width: 430px) {

        .MaxProjetMain {
            /* ***************** Section Projet ************************** */

            .SectionProjet {

                /* *************** Titre section ******************** */
                .Rangee1 {

                    .FiltreSectionProjet {
                        width: 35vw;

                        .Partie1 {
                            justify-content: flex-start;

                            h2 {
                                margin-left: 2.5vw;
                            }
                        }
                    }

                    .TitreSectionProjet {
                        .Partie1 {
                            margin-right: 5rem;
                        }
                    }
                }
            }
        }
    }

    /* ************************* Version Desktop ******************************* */
    @media screen and (min-width: 1024px) {

        .MaxProjetMain {

            /* ***************** Section Projet ************************** */


        }
    }
}