/*******ZONE DE TITRE DE LA PAGE*******/
.titrePage {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 25vh;
  z-index: 1;
  color: var(--blanc);
}



// mettre l'effet de flou


.imageVieEntete {
  display: none;
}

/*********TITRE DES SECTIONS**********/
.titreSection h2 {
  background-color: var(--jaune);
  height: max-content;
  width: max-content;
  padding: 0 2rem;
  --width: max-content;
}

.titreSection {
  position: relative;
  width: max-content;
}

.locaux .titreSection {
  align-self: self-end;
}

.vieEtudiante .imageVie img {
  width: 100vw;
  height: 40vh;
  object-fit: cover; //À VOIR: image devient plus pixelisé

}

.informations {
  display: flex;
  flex-direction: column-reverse;
}

.texte {
  margin: 10% 0;
  padding: 2rem;
  background-color: var(--blanc);
}

/*******************************MÉDIA QUERRY**************************/
/****************MÉDIA QUERRY TABLETTE*****************/
@media screen and (min-width: 500px) {}

/****************MÉDIA QUERRY ordinateur*****************/
@media screen and (min-width: 1100px) {
  .vieEtudiante .titreSection::before {
    display: none;
  }

  /***************HAUT DE LA PAGE***************/
  .titrePage {

    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--blanc);
    position: relative;
  }

  .titrePage h1 {

    padding: 2rem;
  }

  .titrePage::before {
    content: none;
  }

  .imageVieEntete {
    display: flex;
    width: 50vw;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }

  .imgEnteteDiv {
    height: 100%;
    position: relative;
    overflow: hidden;

  }

  ////Effets sur l'image d'entête
  .imgEnteteDiv::before {
    content: "";
    position: absolute;
    background-image: none;
    top: 0;
    left: 0px;
    width: 4rem;
    height: 100%;
    background-color: var(--bleu);
    z-index: 3;
    clip-path: polygon(100% 0, 0% 100%, 0% 100%, 0 0);
  }

  .imgEnteteDiv::after {
    content: "";
    position: absolute;
    background-image: none;
    top: 0;
    left: 90px;
    width: 8rem;
    height: 100%;
    border: 2px solid var(--bleu);
    background-color: var(--bleu);
    z-index: 3;
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
  }

  /*************CONTENU DE LA PAGE*************/
  /**********TITRES**********/

  //////Décoration des titres
  /// enlever les anciennes décorations
  .vieEtudiante .titreSection {
    width: 100vw;
    margin: 5% 0;
    display: flex;
    gap: 0 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .vieEtudiante .titreSection h2 {
    position: relative;
    margin: 0;
  }

  .vieEtudiante .titreSection>h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 2rem;
    height: 100%;
    background-color: var(--jaune);

    clip-path: polygon(100% 0, 50% 100%, 0% 100%, 0 0);
  }

  .decoTitre {
    position: relative;
    background-color: var(--blanc);
    height: 25px;
    flex-grow: 1;
  }

  .decoTitre::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 2rem;
    height: 100%;

    z-index: 3;
    background-color: var(--blanc);

    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 39% 0);
  }

  /***********INFORMATIONS ET IMAGES***************/
  .informations {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .informations .texte {
    width: 60vw;
    height: 100%;
    margin: 0;
    padding-right: 4rem;
    z-index: 1;

    background-color: var(--bleu);
    color: var(--blanc);
  }

  .vieEtudiante .imageVie {
    width: 40vw;
    height: 100%;

    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 15% 0);

    //animation
    transform: translateX(-50%) scale(0.5);

    transition: transform 1s ease, opacity 0.5s ease;
  }

  .locaux .imageVie {
    transform: translateX(50%) scale(0.5);
  }

  // classe d'animation ajouté par js
  .vieEtudiante .imageVie.apparitionImg {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  .cetim .imageVie img {
    object-position: 90% 70%;
  }

  .locaux .informations {
    flex-direction: row-reverse;
  }

  //changer le côté de l'angle
  .locaux .texte {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 3% 0);
  }

  .locaux .imageVie {
    clip-path: polygon(100% 0, 90% 100%, 0% 100%, 0 0);
  }

  .texte {
    width: 50%;
    clip-path: polygon(100% 0, 90% 100%, 0% 100%, 0 0);
  }

  .materiel .imageVie img {
    object-position: 0 50%;
  }
}